body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-group {
  padding-top: 60px;
  text-align: center;
}

#button-group {
  height: 100px;
  width: 500px;
}

#button-id-rock {
  font-size: x-large;
  font-weight: bold;
}

#button-id-paper {
  font-size: x-large;
  font-weight: bold;
}

#button-id-scissors {
  font-size: x-large;
  font-weight: bold;
}

#reset-game-button {
  background: red;
  color: white;
  font-size: large;
  margin-left: 10px;
}

.score-group {
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}

#user-score {
  padding: 30px 90px;
  color: red;
  font-size: x-large;
}

#computer-score {
  padding: 30px 50px;
  color: black;
  font-size: x-large;
}

.selection {
  padding-top: 15px;
  padding-bottom: 10px;
}

.user-selection {
  flex: 1;
  margin-left: 50px;
  /*background: turquoise;*/
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 10px;
}

#user-selection {
  text-align: center;
  padding: 40px 80px 40px 80px; 
  font-size: x-large;
  color: white;
  font-weight: bolder;
  background: coral;
}

.computer-selection {
  flex: 1;
  margin-right: 50px;
  /*background: crimson;*/
  color: rgb(71, 247, 94);
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 10px;
}

#computer-selection {
  padding: 40px 80px 40px 80px;
  background: palegreen;
  color: darkmagenta;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.result-message {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  padding: 40px;
  color: white;
}

#video-background {
  object-fit: cover;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: -1;
}
